#site-header{
    h3{
        padding-top: 4rem;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        width: 50%;
        margin: 0 auto;
        padding:4rem 0 2rem;


        li{
            display: flex;
            flex-direction: column;
            align-items: center;

            i{
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }


}