.card{
    border: 1px solid #0000001a;
    margin: 2rem 0;
    transition: all .1s ease-in-out;
    
    .image{
        position:relative;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .info{
        padding:5rem 1rem 2rem;

        p{
            color: grey;
            font-size: 0.9rem;
        }
    }

    .logo{
        position: absolute;
        width: 150px;
        top: 46%;
        left: 50%;
        background: white;
        padding: 1em;
        transform: translateX(-50%);
    }
   
}


// HOVER EFFECT
.card:hover{
    transform:scale(1.07);
}

